.mainDiv{
    background-image: url("https://st4.depositphotos.com/5897520/40205/i/450/depositphotos_402053220-stock-photo-building-blue-background-property-content.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}